.logo{
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body .card-title,
.card-body .badge,
.card-body .card-text {
    width: 100%;
    text-align: center;
}